<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ぴぃまんのホームページ</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1 class="yuji-mai-regular">ぴぃまん</h1>
            <nav>
                <ul>
                    <li><a href="/tool">ツール集</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="noto-sans-jp-regular">
                <p>ぴぃまんです。
                <br><br>前のサイトが消えたけどまた運営したいなってなってまた始めました。
                <br><br>ツールたちを乗せていったりいろいろしたりする予定なのでよろしくお願いいたします。
                <br><br>もし良かったら下記リンクを使い寄付をしていただけると幸いです。（特典付き）</p>
            </div>
        </main>
        <footer >
            <p>©ぴぃまん  <a href="https://kyash.me/payments/byGI5goL45Y3UnEqftqLrc2SfnLu" target="_blank">寄付(500円)</a></p>
        </footer>
    </body>
</html>